body {
  color: #113;
}

#messagePic {
  max-width: 500px;
  min-width: 500px;
}

#messagePicBig {
  max-width: 700px;
  min-width: 700px;
}

.profileButton {
  width: 97px;
}

/*#navSearch {*/
/*  padding-left: 300px;*/
/*}*/